
.nav-menu {
    text-align: right;
}

.nav-spacing {
    margin: 0 0 0 10px;
    text-decoration: none;
    color: blue;
}

#nav-home.nav-spacing{
    margin: 0;
}

.image-link {
    text-decoration: none;
}
